# Loupedeck Live
ACTION=="add", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="2ec2", ATTRS{idProduct}=="0004", MODE="0666"
# Razer Stream Controller
ACTION=="add", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0d06", MODE="0666"
